.wrapper{
  display:flex;
  position:relative;
  max-width:250px;
}
.background{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:-1;
  background-color: red;
}
.digit{
  height:4rem;
  width:calc(100%/95);
}
.digit:nth-child(1),
.digit:nth-child(3),
.digit:nth-child(47),
.digit:nth-child(49),
.digit:nth-child(93),
.digit:nth-child(95){
  height:6rem!important;

}
.d-0{
  background:transparent;
}
.d-1{
  background:black;
}